html, body {
    overflow-x: hidden;  
    margin: 0;           
    padding: 0;          
}

.iframe-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
    height: 100vh;       
    background-color: #f4f4f4; 
    margin: 0;            
}

iframe {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); 
    border-radius: 13px;                
}

